*, *::before, *::after {
    box-sizing: border-box;
  }
  

body{
    background-color: rgb(245, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #656565;
}

header{
    background-color: #ffffff;
    display: flex;
    border-bottom: 3px solid #c7c7c7;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.logotipo{
    padding: 16px 0;
}

.yelco {    
    height: 55px;
}

.titulo {
    font-weight: bold;
    font-size: 25px;
    padding-left: 100px;
    text-align: center;
}

#resumo{
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    width: 850px;
    margin: 0 auto 5px;
}

.corpo{
    width: 700px;
    margin: 0px auto 5px;
    /* border: 1px solid #cf3535; */
}

#formularios {
    padding: 15px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #c0c0c0;
    /* border: 1px solid #354ccf; */
}

.form-bloco{
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px;
    width: 220px;
    /* border: 1px solid #35cf5c; */
}

.form-bloco label {
    font-weight: bold;
    font-size: 16px;
    /* color: #3d3d3d; */
    padding: 5px 5px 10px;
    width: 100%;
}

select, input {
    font-size: 14px;
    padding: 0 0 0 10px;
    
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    
    cursor: pointer;
    
    appearance: none;
    -webkit-appearance: none;    /* Para navegadores WebKit */
    -moz-appearance: none;       /* Para Firefox */
}

.selectE{
    background-image: url('icons/plugE.svg'); /* Ícone personalizado da seta */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 45px;    
}

.selectC{
    background-image: url('icons/rolo.svg'); /* Ícone personalizado da seta */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 45px;    
}

.selectD{
    background-image: url('icons/plugD.svg'); /* Ícone personalizado da seta */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 45px;    
}

.nome-gerado{
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    /* border: 1px solid #cf3535; */
}

#nomeGerado, #custo{
    font-weight: bold;
    color: #023047;
}

.opcao-bloqueada {
    color: rgb(219, 219, 219);
  }

#btnGerar{    
    width: 280px;
    /* border: 1px solid #cf3535; */
    margin: 20px auto;
    text-align: center;
}

#btnGerar button{
    color: #F2DC5D;
    appearance: none;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    background-color: #023047;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
}    

#btnGerar button:hover{
    color: #023047;
    background-color: #F2DC5D;
}    

#canvas{
    border: 1px solid #F2DC5D;
    border-radius: 20px;
    width: 638px;
    height: 420px;
    margin: 0 auto;
    background-color: white;
}

#creditos{
    font-weight: bold;
    padding: 25px 0;
    margin: 5px auto;
    text-align: center;
}